<!DOCTYPE html>
<html>
<head>
  <title>A Lark's Nest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="gallery">           
    <div class="clearfix" style="max-width:474px;">
      <ul id="image-gallery" class="cS-hidden">
				<% if @petImages	%>
					<% @petImages.each do |image| %>
						<li><%= image_tag image.gsub("app/assets/images/", "") %></li>
					<% end %>
				<% end %>
      </ul>
    </div>
  </div>

<%= yield %>

</body>
</html>
