<!DOCTYPE html>
<html>
<head>
  <title>A Lark's Nest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="columns small-10 small-offset-1 end"> <!--if there's extra-large, do that here media query for 1224 pixels class? !-->
      <div class="row">
        <header>
          <h1> A Lark's Nest</h1>
          <nav>
            <ul class="menu">
              <li><a href="<%= index_path %>">Home</a></li> <!-- Bug on home link -->
              <!-- here's a comment -->
              <li><a href="<%= about_path %>">About</a></li>
              <li><a href="<%= rates_path %>">Investment</a></li>
              <li><a href="<%= contact_path %>">Contact</a></li>
            </ul>
          </nav>
        </header>
      </div>
      <div class="row">
          <%= yield %>
        </div>
      <div class="row">
        <br>
        <br>
        <br>
        <p class="bread-crumb">
          <%= link_to 'Contact Us!', contact_path %>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
